.asks {
  flex: 1;
}

tbody tr td {
  text-align: right;
}

td,
th {
  padding: 6px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.price {
  color: var(--warn-colour);
}