.button {
  padding: 10px;
  border-radius: 5px;
  color: var(--font-color);
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}
.buttonType-primary {
  background-color: var(--primary-button-color);
}
.buttonType-secondary {
  background-color: var(--secondary-button-color);
}
.disabled {
  background-color: var(--disabled-button-color);
  user-select: none;
  pointer-events: none;
  cursor: none;
}