.wrapper {
  margin-bottom: 100px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.tableWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.spread {
  font-weight: 600;
  width: 100%;
  text-align: right;
  margin: 20px 0;
}

@media only screen and (max-width: 650px) {
  .tableWrapper {
    flex-direction: column;
  }
  .spread {
    order: 2;
  }
  .topSection {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg-color);
    padding: 20px 30px;
    margin: 0;
  }
}
